body {
  background-color: blueviolet;
}

span {
  font-size: 20px;
  background-color: blanchedalmond;
  padding: 20px;
  display: inline-block;
  // scss - Позволяет писать стили внутри стелей
  div {
    display: inline-block;
    background-color: brown;
    color: rgb(242, 242, 242);
    padding: 10px;
  }
}

#but{
  display: inline-block;
  background-color: rgb(48, 255, 155);
  color: rgb(6, 6, 6);
  padding: 5%;
  position: absolute;
  user-select: none;
}
#but:hover{
  background-color: rgb(31, 164, 100);
  color: rgb(100, 100, 100);
}



